<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

   <div class="row d-flex justify-content-center">
      <main class="px-3 text-danger text-center">
         <h1>Acceso Denegado</h1>
         <p class="lead">No tienes acceso a esta página.</p>
      </main>
   </div>

</div>