<section class="container mt-5 text-light" style="height: 85vh">
   <h1 class="text-center mb-4">Política de Privacidad</h1>
   <div class="row">
      <div class="col-md-8 mx-auto">
         <p>En esta sección se describe cómo se manejará la información personal de los usuarios de este sitio web.</p>
         <ul>
            <li>Tipo de información recopilada</li>
            <li>Uso de la información recopilada</li>
            <li>Divulgación de información a terceros</li>
            <li>Cookies y tecnologías similares</li>
            <li>Enlaces a sitios web de terceros</li>
            <li>Seguridad</li>
            <li>Modificaciones a la política de privacidad</li>
            <li>Contacto</li>
         </ul>
         <p>Si tienes alguna pregunta o inquietud acerca de nuestra política de privacidad, no dudes en contactarnos.</p>
      </div>
   </div>
</section>